<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue ATM</title>
  </head>
  <body>
    <section id="container">
      <h3>入力画面</h3>
      <div id="input">
        <input v-model="inputValue" v-on:input="checkMethod" type="number" />
        <div>入力額: {{ inputValue }}円</div>
        <button v-on:click="deposit">入金</button>
        <button v-on:click="withdraw" v-bind:disabled="noclick">
          出金
        </button>
      </div>
      <div id="account">
        <h3>口座残高</h3>
        <div>残高: {{ condition }}円</div>
      </div>
      <div id="record">
        <h3>取引記録</h3>
        <div v-for="item in items" ::key="item">
          日付：{{ item.date }}<br />
          操作：{{ item.type }}<br />
          金額：{{ item.money }}<br />
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
